<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <title>Xuân Phạm</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link type="text/css" rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css" </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">
                        <i style="font-family: monospace">tools</i>
                    </a>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/page2">template 1</a><li>
                        <li><a href="#/page2">template 2</a><li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" ng-controller="mainController">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span aria-hidden="true" class="glyphicon glyphicon-star"></span>
                                <span>Lấy thông tin tài khoản</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="url">Facebook Access Token</label>
                                <div class="input-group">
                                    <span id="url-addon" class="input-group-addon">
                                <span aria-hidden="true" class="glyphicon glyphicon-link"></span>
                                    </span>
                                    <input autofocus="autofocus" class="form-control" ng-model="access_token">
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" ng-click="onShow()" ng-disabled="isLoadingdata">
                        <i class="fa fa-spinner fa-spin" aria-hidden="true" ng-show="isLoadingdata"></i>
                        <i class="fa fa-search" aria-hidden="true" ng-show="!isLoadingdata"></i>
                        Submit
                    </button>
                            <!--<button type="reset" class="btn btn-danger">                      <span aria-hidden="true" class="glyphicon glyphicon-refresh"></span> 
                            Reset
                            </button>-->
                        </div>
                        <div class="panel-footer text-center">Copyright © <span id="year">2017</span>
                            <a href="https://junookyo.blogspot.com/?utm_source=j2team_security">Xuân Phạm</a>
                            <a href="https://junookyo.blogspot.com/2016/10/j2team-security-chrome-extension.html?utm_source=j2team_security"></a></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span aria-hidden="true" class="glyphicon glyphicon-star"></span>
                                <span>Hủy kết bạn</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="url">Facebook ID</label>
                                <div class="input-group">
                                    <span id="url-addon" class="input-group-addon">
                                <span aria-hidden="true" class="glyphicon glyphicon-link"></span>
                                    </span>
                                    <input autofocus="autofocus" class="form-control" ng-model="facebook_id">
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" ng-click="onUnfriend()">
                        <span aria-hidden="true" class="glyphicon glyphicon-ok" ></span> 
                        Unfriend
                    </button>
                            <!--<button type="reset" class="btn btn-danger">                      <span aria-hidden="true" class="glyphicon glyphicon-refresh"></span> 
                            Reset
                            </button>-->
                        </div>
                        <div class="panel-footer text-center">Copyright © <span id="year">2017</span>
                            <a href="https://junookyo.blogspot.com/?utm_source=j2team_security">Xuân Phạm</a>
                            <a href="https://junookyo.blogspot.com/2016/10/j2team-security-chrome-extension.html?utm_source=j2team_security"></a></div>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" ng-show="showinfo" role="alert" ng-bind-html="message"></div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-facebook-square" aria-hidden="true" ng-show="!isLoadingdata"></i>
                        <i class="fa fa-spinner fa-spin" aria-hidden="true" ng-show="isLoadingdata"></i>
                        <span>Danh sách bạn bè</span>
                    </h3>
                </div>
                <div class="panel-body col-md-4">
                    <div class="form-group">
                        <label for="url">Tên</label>
                        <div class="input-group">
                            <span id="url-addon" class="input-group-addon">
                        <span aria-hidden="true" class="glyphicon glyphicon-filter"></span>
                            </span>
                            <input autofocus="autofocus" class="form-control" ng-model="filters.name" placeholder="Tên">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>
                                    ID
                                </td>
                                <td style="width: 25%;">
                                    Tên
                                </td>
                                <td>
                                    Hình
                                </td>
                                <td style="width: 30%;">
                                    Tương tác
                                </td>
                                <td style="width: 15%;">
                                    Tổng tương tác
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="friend in friends_final | orderBy: '-total_reactions' | filter: filters">
                                <td>
                                    <a target="_blank" href="https://fb.com/{{friend.id}}">{{friend.id}}</a>
                                </td>
                                <td>
                                    <a target="_blank" href="https://fb.com/{{friend.id}}">{{friend.name}}</a>
                                </td>
                                <td>
                                    <img src="{{friend.picture}}" width="50" height="50">
                                </td>
                                <td>
                                    <img style=" width: 100%;height: 30%" src="./reactions.jpg">
                                    <span ng-click="listPost(friend.id,'LIKE')" class="label label-danger" style="position: absolute;margin-left: 1.5%;margin-top: -2%;cursor: pointer">{{friend.like}}</span>
                                    <span ng-click="listPost(friend.id,'LOVE')" class="label label-danger" style="position: absolute;margin-left: 4.5%;margin-top: -2%;cursor: pointer">{{friend.love}}</span>
                                    <span ng-click="listPost(friend.id,'HAHA')" class="label label-danger" style="position: absolute;margin-left: 7.5%;margin-top: -2%;cursor: pointer">{{friend.haha}}</span>
                                    <span ng-click="listPost(friend.id,'ANGRY')" class="label label-danger" style="position: absolute;margin-left: 19.5%;margin-top: -2%;cursor: pointer">{{friend.angry}}</span>
                                    <span ng-click="listPost(friend.id,'WOW')" class="label label-danger" style="position: absolute;margin-left: 13.5%;margin-top: -2%;cursor: pointer">{{friend.wow}}</span>
                                    <span ng-click="listPost(friend.id,'SAD')" class="label label-danger" style="position: absolute;margin-left: 16.5%;margin-top: -2%;cursor: pointer">{{friend.sad}}</span>
                                    <span ng-click="listPost(friend.id,'THANKFUL,PRIDE')" class="label label-danger" style="position: absolute;margin-left: 10.5%;margin-top: -2%;cursor: pointer">{{friend.thankful + friend.pride}}</span>
                                </td>
                                <td>
                                    {{friend.total_reactions}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div alt="loadingDiv" ng-show="isLoadingdata">
                        <img src="loading.gif" alt="loading" width="64px" height="64px" style="margin-left: 47%;">
                    </div>
                </div>
                <div class="panel-footer text-center">Copyright © <span id="year">2017</span>
                    <a href="https://junookyo.blogspot.com/?utm_source=j2team_security">Xuân Phạm</a>
                    <a href="https://junookyo.blogspot.com/2016/10/j2team-security-chrome-extension.html?utm_source=j2team_security"></a></div>
            </div>
        </div>
    </body>

</html>